<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=SchedulingAdminTool;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="SchedulingAdminToolEntities" connectionString="metadata=res://*/SchedulingAdminTool.csdl|res://*/SchedulingAdminTool.ssdl|res://*/SchedulingAdminTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SchedulingAdminTool;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>