<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=sql5102.site4now.net;Initial Catalog=db_a745ee_upsidedown;User Id=db_a745ee_upsidedown_admin;Password=@812Arline" providerName="System.Data.SqlClient" />

  <add name="SchedulingAdminToolEntities" connectionString="metadata=res://*/SchedulingAdminTool.csdl|res://*/SchedulingAdminTool.ssdl|res://*/SchedulingAdminTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5102.site4now.net;initial catalog=db_a745ee_upsidedown;User Id=db_a745ee_upsidedown_admin;Password=@812Arline;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>